<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "employee" class="com.sapient.spring_employee.Employee">
<property name="name" value="Default Name From XML Container"></property>
<property name="city" value="Default City From XML Container"></property>
	
</bean>

</beans>
